<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="container" >
    <div class="row">
      <div class="col-sm-6">
          <app-registration></app-registration>
      </div>
      <div class="col-sm-6">
          <app-login></app-login>
      </div>
    </div>
</div> -->
Welcome Home
<div>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >HOME</a> |
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" >LOGIN</a>
</div>
<router-outlet></router-outlet>


